<app-banner></app-banner>
<app-home-location></app-home-location>
<div class="container">
        <div class="row">
          <!-- Blog Entries Column -->
          <div class="col-md-8 my-4">
    
             <!-- Content Row -->
         <div class="row">
            <div class="col-md-4 mb-5" appHomeActivity></div>
            <div class="col-md-4 mb-5" appHomeActivity></div>
            <div class="col-md-4 mb-5" appHomeActivity></div>
            <div class="col-md-4 mb-5" appHomeActivity></div>
            <div class="col-md-4 mb-5" appHomeActivity></div>
            <div class="col-md-4 mb-5" appHomeActivity></div>
          </div>
          <!-- /.row -->
    
          </div>
    
          <!-- Sidebar Widgets Column -->
          <div class="col-md-4">
    
             <app-home-whatsnew></app-home-whatsnew>   
    
            <!-- Categories Widget -->
            <app-home-testimonial></app-home-testimonial>
    
          </div>
    
        </div>
        <!-- /.row -->
    
      </div>
      <!-- /.container -->